
<h1>Your cart</h1>
<p><%= button_to 'Empty your cart', @cart,
                 method: :delete, data: { confirm: 'Are you sure?' },
                 class: 'btn btn-primary' %></p>

  <%= render @cart %>

<%= link_to 'Edit', edit_cart_path(@cart) %> |
<%= link_to 'Back', carts_path %>



